# Copiez ce fichier vers .env.local et renseignez vos clés Supabase

NEXT_PUBLIC_SUPABASE_URL=https://agdvlldvkcivvaibskks.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnZHZsbGR2a2NpdnZhaWJza2tzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ2MzIxNTIsImV4cCI6MjEwMDIwODE1Mn0.C4s0bBu89f6JPRaA7pIGmGCrFXGQJpYVvAPYrpQ2RIc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnZHZsbGR2a2NpdnZhaWJza2tzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDYzMjE1MiwiZXhwIjoyMTAwMjA4MTUyfQ.cTr3N1fJgt09QiIBWcC1a7y4z2EwIAXfRY-qNdeVxeU
